.sidebar
  font-size 16px

.widget-title
  text-transform uppercase
  font-weight 700
  font-size 16px

.widget_recent_entries
  background-size: 6px 6px
  background-image: (linear-gradient(-45deg, transparent 46%, #a6a6a4 49%, #a6a6a4 51%, transparent 55%))

  .widget-title
    position relative
    background-color: black
    padding: 16px 10px
    color white
    margin-bottom: 40px

    &:after
      content ""
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 60px 8px 0 8px;
      border-color: #000000 transparent transparent transparent;
      position absolute
      transform rotate(-45deg)
      top 70%
      left 15%

  .nav
    li
      padding: 15px 33px 15px 15px
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
      background-color: #fff
      margin: 10px

      &:hover
        background-color: #ffd500
        cursor: pointer

      a
        color black

.widget_categories
  padding: 16px 10px 10px 10px
  background-size: 6px 6px
  background-image: (linear-gradient(-45deg, transparent 46%, #a6a6a4 49%, #a6a6a4 51%, transparent 55%))

  li
    background-color: #454545
    font 400 14px Arial
    padding 8px
    display: flex
    vertical-align middle
    margin: 5px 0
    position: relative

    a
      width 100%
      display: flex;
      align-items: center;
      justify-content: space-between;
      color #b6b6b6

    &:hover
      cursor: pointer
      background-color: #ffd500
      a
        color #222222

  .cat-count
    float right
    padding 5px 7px
    background-color: #ffd500
    color #222222

  .widget-title
    margin-bottom: 10px
    margin-top: 0

.elp-widget
  background-color: #fff
  padding: 20px 20px 0 20px
  border-bottom: 4px solid #e6e6e6

  .widget-title
    margin-bottom 15px
    margin-top: 0

  label
    display: none

  input[type=text]
    width: 100%
    font 400 14px Arial
    outline none
    padding: 10px
    box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.06);
    border: 1px solid #b7b7b7;
    background-color: #e2e2e2;

  input[type=button]
    position: relative
    text-transform uppercase
    padding 9px 55px 10px 0
    font-size 14px
    font-weight: 300
    border none
    background-color: #ffd500

  .es_button
    position: relative
    display: inline-block
    cursor pointer

    &:before
      content: ''
      height: 14px
      width: 10px
      position: absolute
      right 13px
      top 45%
      background-image: url('http://dev-tokasrskyi.pantheonsite.io/wp-content/uploads/2017/03/layer-16.png')
      background-repeat: no-repeat
      z-index 4

    &:after
      content: ''
      z-index 3
      height: 22px
      width: 22px
      position: absolute
      top 35%
      right 10px
      background-size: 2px 2px
      background-image: (linear-gradient(-45deg, #fff1a7 46%, #fff1a7 49%, #fff1a7 51%, transparent 55%))

.contact-aside
  padding: 20px
  background-color: #fff
  border-bottom 4px solid #e6e6e6

  p
    font 400 12px/14px Arial
    color: #7f7c7c

  h2
  h3
    margin: 0
    text-transform uppercase
    font-weight 700
    font-size 17px

  h2
    padding: 8px 8px 8px 48px
    font-size 18px
    margin 17px 0 11px 0


  .contact-phone-number
  .contact-email
    background-repeat no-repeat
    background-color: #ffd500
    background-position: 0 -1px

  .contact-phone-number
    background-image url("http://dev-tokasrskyi.pantheonsite.io/wp-content/uploads/2017/03/phone.png")

  .contact-email
    background-image url("http://dev-tokasrskyi.pantheonsite.io/wp-content/uploads/2017/03/layer-24-1.png")
    width: 95%
    font-weight 300



.widget_sp_image
  margin-top: 20px
  text-align center
  .widget-title
    display: none
  img
    max-width 350px


