.site-footer
  padding: 1%
  background: linear-gradient(0deg, #2c2c2b 0, #2c2c2b 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%), linear-gradient(90deg, #2c2c2b 0, #2c2c2b 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%), linear-gradient(180deg, rgba(0,0,0,1) 0, rgba(0,0,0,1) 100%);
  background-position: -2px -2px, -2px -2px, 47% 50%;
  background-size: 100px 4px, 4px 100px, auto auto;

.site-footer-inner
  display: flex
  justify-content space-between
  align-items center

  ul
    list-style: none
    padding 0
    margin: 0
    li
      display: inline-block
      margin-left: 5px
      a
        font-size 30px
        color: #e2e2e2

        &:hover
          color #8a8a8a

.site-info
  font 700 12px Arial
  text-transform uppercase
  color #fff
